*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
body{
    
   
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000000, #0d0d0d);
    color: #b3afaf;
    
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.fa-brands{
    
    color: #ecf5ff;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.fa-brands:hover {
    text-shadow: 0 0 20px #3c85f1af;
}

.social_icons{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 25px;
    align-items: center;
    margin-left: 0px;
    gap: 10px;
}


.nav_separator {
  margin: 0; 
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  
}


nav{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 25px 10px 20px;
    
    
    color: rgb(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
    max-width: 720px;
    margin:  auto;
    margin-top: 15px;
    font-size: 18px;
    position: sticky;
    top: 0;
    
}
.nav_right {
    
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav_buttons_container{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
    
}

.nav_button{
    background-color: transparent;
    border: none;
    color: #ecf5ff;
    padding: 8px 15px;
    
    font-size: 14px;
    font-weight: 900;
}

.nav_button:hover{
    background-color: hsla(0, 0%, 100%, 0.104);
    border: 0.5px solid #ecf5ff;
    border-radius: 48px;
    color:#ffffff;
    cursor: pointer;
    
}
.main_nav_text a{
    font-size: 24px;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #ecf5ff;
    
}
.main_nav_text a:hover{
    text-shadow: 0 0 25px #3c84f185;
}



#home{  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;

    text-align: center;
    margin-top: 20px;
}
.introo{
    align-items: center;
    text-align: center;
    padding: 0px 80px 30px 80px;
}
.intro_text_image{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px 40px ;
    padding-bottom: 5px;
}
.status{
    background-color: rgba(0, 56, 56, 0.377);
    border: #012d3f solid 1.5px;
    padding: 15px 30px 15px 30px;
    border-radius: 80px;
}
.status p{
    color: #ecf5ff;
    font-size: 18px;
}
.status:hover{
    transition: all 0.4s ease;
    background-color: rgba(0, 56, 56, 0.577);
    border-color: #012d3f;
}

.about_section{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px ;
}
.about_section h2{
    color: #ecf5ff;
    font-size: 28px;
    font-weight: bold;
    padding-top: 1px;
}
.profile_image{
    border: #002331 solid 2px;
    background-color: #ecf5ff;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;    
}
.profile_image:hover{
    transition: all 0.4s ease;
    border-color: #3672ccaf;
    box-shadow: 0 0 75px #3c85f1af;
}
.intro_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}
.introtext{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #b3afaf;
    font-size: 20px;
    line-height: 1.2;
}
.introtext h2{
    color: #ecf5ff;
    font-size: 45px;
    font-weight: bold;
}

.introtext h2:hover{
    
    transition: all 0.4s ease;
    color: #3672ccaf;
    
    
}
.introtext p:hover{
    
    transition: all 0.4s ease;
    color: #1a61caaf;
    
    
    
}

#projects, #skills {
    padding: 60px;
    max-width: 1000px;
    margin: 60px auto;
    border: 1px solid rgba(60, 133, 241, 0.2);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.02);
    
}

#projects h3, #skills h4{
    color: #ecf5ff;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
}

.projects_grid{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.project_card {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(60, 133, 241, 0.2);
    background: rgba(255,255,255,0.02);
    transition: 0.3s ease;
}

.project_card:hover {
    transform: translateY(-5px);
    border-color: rgba(60, 133, 241, 0.2);
    box-shadow: 0 10px 40px rgba(60, 133, 241, 0.15);
}

.skills_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;

}



footer{
    
    color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    border-top: #7bbbff solid 1px;
}
.main_nav_text{
    font-size: 24px;
    font-weight: bold;
}



